data/deu.jsonl filter=lfs diff=lfs merge=lfs -text
data/eng.jsonl filter=lfs diff=lfs merge=lfs -text
data/fra.jsonl filter=lfs diff=lfs merge=lfs -text
data/kor.jsonl filter=lfs diff=lfs merge=lfs -text
data/spa.jsonl filter=lfs diff=lfs merge=lfs -text
